{% extends '../base.html' %} {% load static %} {% block title %} Inicio De Sesión | SmartTech {% endblock title %} {% block estilos %} {{ block.super }}

<link rel="stylesheet" href="{% static 'css/registro.css' %}"> {% endblock estilos %} {% block content %}
<div class="container ">
    <h1 class="text-center  mt-5">Recuperación contraseña</h1>

    <div class="row  justify-content-center ">
        <div class="col-6">
            <div class="section-divider"></div>
            <form class="form-registro" method="POST" action="{% url 'correo' %} ">
                {% csrf_token %}
                <div class="form-group mt-3">
                    <input type="email" name="{{form.email.name}}" id="email" class="form-control form-input" placeholder="ejemplo@ejemplo.com">
                </div>
                <button type="submit" class="custom-button w-100 mb-2 mt-3">Enviar</button>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/scriptRegistro.js' %}"></script>
{% endblock content %}