{% extends '../base.html' %} {% load static %} {% block title %} Ingresar Correo | SmartTech {% endblock title %} {% block estilos %} {{ block.super }}

<link rel="stylesheet" href="{% static 'css/registro.css' %}"> {% endblock estilos %} {% block content %}
<div class="container ">
    <h1 class="text-center  mt-5">Ingresa Tu Correo </h1>

    <div class="row  justify-content-center ">
        <div class="col-6">
            <div class="section-divider"></div>
            <form method="POST" action="{% url 'correo_recuperacion_password' %}"
            onsubmit="return interceptarEnvio(event)">
                {% csrf_token %}
                <div class="form-group mt-3">
                    <input type="email" name="{{form.email.name}}" id="email" class="form-control form-input" placeholder="ejemplo@ejemplo.com">
                </div>
                    <button type="submit" class="custom-button w-100 mb-2 mt-3">Enviar</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}