{% extends '../base.html' %} {% load static %} {% block title %} Recuperar Contraseña | SmartTech {% endblock title %} {% block estilos %} {{ block.super }}

<link rel="stylesheet" href="{% static 'css/registro.css' %}"> {% endblock estilos %} {% block content %}
<div class="container ">
    <h1 class="text-center  mt-5">Reestablecer contraseña</h1>

    <div class="row  justify-content-center ">
        <div class="col-6">
            <div class="section-divider"></div>
            <form class="form-registro" method="POST" >
                {% csrf_token %} {% if messages %}
                <ul class="messages errorlist">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group mt-3">
                    <ul>
                        <li class="titulo-li">La contraseña deve contener minimo 8 caracteres</li>
                        <li class="titulo-li">Deve contener al menos una letra mayúscula</li>
                        <li class="titulo-li">Deve contener números</li>
                        <li class="titulo-li">Deve contener al menos un caracter especial</li>
                    </ul>
                    <input type="password" name="{{ form.password1.name }}" class="form-control form-input" id="pass1" placeholder="Ingrese su nueva contraseña">
                </div>
                <div class="mb-3">
                    <input type="password" name="password" class="form-control form-input" id="pass1" placeholder="Repita su contraseña">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="showPasswordCheckbox">
                        <label class="form-check-label" for="exampleChek1">Ver contraseña</label>
                    </div>
                </div>
                <button type="submit" class="custom-button w-100 mb-2">Actualizar contraseña</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}